{% extends "layout.html" %}

{% block page_title %}
    Collections
{% endblock %}

{% block content %}
<main id="content" role="main">

  <div class="grid-row">
    <div class="column-full">

      <h1 class="heading-xlarge">
        Collections
        <span class="heading-secondary">Collections are curated datasets related to a specific topic</span>
      </h1>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-half">
      <h1 class="heading-medium">
        <a href="/collections/registers">Registers</a>
        <p>Get authorative, high-quality datasets</p>
      </h1>
    </div>
    <div class="column-one-half">
      <h1 class="heading-medium">
        <a href="/collections/organograms">Organograms</a>
        <p>Understand the structure of Government organisations</p>
      </h1>
    </div>
    <div class="column-one-half">
      <h1 class="heading-medium">
        <a href="/collections/national">National</a>
        <p>Search and Browse national datasets</p>
      </h1>
    </div>
    <div class="column-one-half">
      <h1 class="heading-medium">
        <a href="/collections/local">Local</a>
        <p>Search and Browse local datasets</p>
      </h1>
    </div>
  </div>
</main>

{% endblock %}


