// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
@import 'patterns/check-your-answers';
@import 'patterns/task-list';

// Related items
// (These styles will be moved to GOV.UK elements, duplicating here for now.)
.govuk-related-items {
  margin-top: $gutter;
  border-top: 10px solid $govuk-blue;
  padding-top: 5px;

  .heading-medium {
    margin-top: 0.3em;
    margin-bottom: 0.5em;
  }

  li {
    margin-bottom: 10px;
    list-style-type: none;
  }
}

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

.masthead {
    margin: 0;
    background: #eee;
    padding: 0 1.5em 2em 1.5em;
}

/* Facet block */
.filter-block {
  width: 90%;
  background: #eee;
  padding: 10px;
  margin-top: 20px;
  .bold {
    font-weight: bold;
  }
  select {
    width: 100%;
  }
  label {
    padding-bottom: 1em;
  }
}

/* Make secondary heading work even with a heading-medium  */
.heading-medium {
  margin-top: 12px;
  .heading-secondary {
    display: block;
    color: #555;
    font-size: 80%;
    font-weight: normal;
    margin-top: .4em;
  }
}

.dataset {
  border-left: solid 8px #fff;
  h1 {
    font-weight: normal;
  }
}

.dataset.register {
  background-color: #eee;
  border-left: solid 8px black;
  padding-left: 1.5em;
}

.header-logo {
  font-size: 24px;
  padding-left: 1.5em;
  color: white;
}

.phase-tag {
  margin-left: 1em;
}

#global-header.with-proposition .header-wrapper .header-global {
  width: 50%;
}

.search {
  height: 40px;
  width: 90%;
}

.search-submit {
  line-height: 3.2em;
  box-sizing: border-box;
  height: 40px;
  width: 40px;
  cursor: pointer;
  overflow: hidden;
  background: #0b0c0c url(https://assets.publishing.service.gov.uk/frontend/homepage/search-button-085aa82ff641b5cfb3eb090c888459f96be271efe9c1d98a73c8a181202d9063.png) no-repeat 2px 50%;
  text-indent: -5000px;
  border: 0;
  padding: 0;
}

.search-suggest {
  font-size: 80%;
  padding-top: .5em;
}

ul.pagination {
  list-style-type: none;
  li {
    display: inline-block;
    padding-right: .3em;
  }
}
