{% extends "layout.html" %}


{% block page_title %}
  Find government data
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="masthead">

    <div class="grid-row">

      <div class="column-two-thirds">
        <h1 class="heading-xlarge">
          Find government data
        </h1>

        <p class="lede">
          You can use this data to learn more about how government<br/>
          works, carry out research or build applications and services
        </p>
      </div>

      <form id="search-form" action="/dataset" method="GET" class="column-two-thirds">
        <fieldset>
          <div id="search-box">
            <nobr>
              <input id="q" name="q" type="text" placeholder="" class="form-control search" autocomplete="off" style="width: 100%; height: 50px;">
              <button type="submit" class="button" style="height: 50px;  margin-top: -1px">Find data</button>
            </nobr>
          </div>
        </fieldset>
      </form>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Browse collections
        <span class="heading-secondary">Collections are curated datasets related to a specific topic</span>
      </h1>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-one-half">
      <h1 class="heading-medium">
        <a href="/collections/registers">Registers</a>
        <p>Get authorative, high-quality datasets</p>
      </h1>
    </div>
    <div class="column-one-half">
      <h1 class="heading-medium">
        <a href="/collections/organograms">Organograms</a>
        <p>Understand the structure of Government organisations</p>
      </h1>
    </div>
    <div class="column-one-half">
      <h1 class="heading-medium">
        <a href="/collections/national">National</a>
        <p>Search and Browse national datasets</p>
      </h1>
    </div>
    <div class="column-one-half">
      <h1 class="heading-medium">
        <a href="/collections/local">Local</a>
        <p>Search and Browse local datasets</p>
      </h1>
    </div>
  </div>

  <hr/>

  <div class="grid-row">
    <div class="column-two-thirds">

      <h1 class="heading-large">
        Trending/Popular datasets
        <span class="heading-secondary">The most popular datasets from the last week</span>
      </h1>
    </div>
  </div>

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-medium">
        <a href="/dataset/cats">Cats per square kilometer</a>
        <p>Describes the mean number of cats per square kilometer on the OS grid</p>
      </h1>
      <hr/>
    </div>
    <div class="column-two-thirds">
      <h1 class="heading-medium">
        <a href="/dataset/dogs">Dogs per square kilometer</a>
        <p>Describes the mean number of dogs per square kilometer on the OS grid</p>
      </h1>
      <hr/>
    </div>
    <div class="column-two-thirds">
      <h1 class="heading-medium">
        <a href="/dataset/dogs">Mice reports from 125 Kingsway</a>
        <p>Reports of 'mus musculus' in 2017</p>
      </h1>
      <hr/>
    </div>
  </div>




</main>

{% endblock %}


